# --------------------------------------
# mac
# --------------------------------------
.DS_Store

# --------------------------------------
# log
# --------------------------------------
*.log
*.out

# --------------------------------------
# idea
# --------------------------------------
.idea/
*.eml
*.iml
*.ipr
*.iws

# --------------------------------------
# temporary files
# --------------------------------------
*.tmp
*.temp
*.bak
*.backup
~*
